@use './vars';

.blog-details-page {
    width: 1200px;
    margin: 200px auto 96px;
    border: inherit;

    .bdp-blog-details {
        display: flex;
        gap: 52px;
    }

    .bdp-blog-tags {

        >p {
            margin-bottom: 24px;

            color: #292F36;
            font-family: DM Serif Display;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            /* 31.25px */
            letter-spacing: 0.5px;
        }

        &__btn {
            padding: 9px 30px;
            margin-right: 10px;
            margin-top: 11px;


            border-radius: 10px;
            background-color: vars.$selected-color;

            color: vars.$text-caption-color;
            text-align: center;
            font-family: vars.$font-base;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            /* 22.5px */
            letter-spacing: 0.36px;

            &:hover {
                background-color: vars.$text-caption-color;
                color: vars.$background-color;
            }

            &_active {
                background-color: vars.$text-caption-color;
                color: vars.$background-color;
            }
        }
    }



    .bdp-blog-list {
        width: 800px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 800px;

    }

    .bdp-blog {
        margin-bottom: 27px;


        &__caption {
            color: vars.$text-caption-color;
            font-family: vars.$font-caption;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            /* 62.5px */
            letter-spacing: 1px;
        }

        &__content {
            color: #4D5053;
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 33px */
            letter-spacing: 0.22px;
        }

        &__img {
            border-radius: 50px;
            overflow: hidden;
        }
    }


}

.text-reference {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 11px;
}