// colors
$text-caption-color: #292f36;
$text-color: #4d5053;
$selected-color: #f4f0ec;
$background-color: #ffffff;
$gold-color: #cda274;
$base-color: $gold-color;
$frame-color: #e6e6e6;

// fonts
$font-caption: "DM Serif Display";
$font-base: "Jost";
