* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    font-family: Lato;
}

.responsive {
    width: 100%;
    height: auto;
}

.menu {
    background-color: #222222;
    height: 75px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__search {
    margin-left: 41px;
}

.menu__login {
    margin-left: 25px;
    margin-right: 42px;
}

.header {
    background-color: #F1E4E6;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__left {
    width: 50%;
    display: flex;
    justify-content: right;
}

.header__brand {
    width: 40%;
    border-color: aqua;
    color: #222;
    font-size: 48px;
    font-weight: 900;


    display: flex;
}

.header__brand h1 {
    font-size: 48px;
    margin-left: 16px;
}

.header__brand p {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    margin-left: 16px;
}

.header__brand span {
    color: #F16D7F;
    font-style: 37px;
}

.offer {
    max-width: 1140px;
    margin: 65px auto 0;
}

.offer__row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.offer__group {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.offer__group img {
    z-index: -1;
    object-fit: cover;
}

.offer__text {
    font-family: Lato;
    text-align: center;

    position: absolute;
    z-index: 100;
}

.offer__text h2 {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.offer__text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #F16D7F;
}

.offer__curtain {
    position: absolute;
    border: 1px black solid;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

.offer__group:hover .offer__curtain {
    opacity: .7;
}

.offer__row2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.products {
    width: 1140px;
    margin: 96px auto 60px;

    text-align: center;
    font-weight: 400;
}

.products h1 {
    color: #222;
    font-size: 30px;
}

.products p {
    margin-top: 6px;
    color: #9F9F9F;
    font-size: 14px;
}

.products__items {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}

.products__item {
    width: 360px;
    text-align: left;
}

.products__item h4 {
    margin-top: 25px;
    color: #000;
    font-size: 13px;
}

.products__item p {
    margin-top: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.products__item h5 {
    margin-top: 16px;
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.products__item_background2 {
    background-color: #F7E4E2;
    width: 360px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__button {
    margin: 48px auto 0;
    width: 212px;
}

.products__btn_text {
    height: 48px;
    border: 1px #FF6A6A solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__btn_text p {
    margin: 0;
    display: block;
    color: #F26376;
    font-size: 16px;
}

@media (max-width: 1140px) and (min-width: 768px) {
    .products {
        max-width: 768px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    body {
        min-width: 768px;
    }

    .header__left img {
        width: 386px;
        height: 386px;
    }

    .header__brand img {
        width: 12px;
        height: 92px;
    }

    .header__brand h1 {
        font-size: 44px;
        font-weight: 900;
    }

    .header__brand p {
        font-size: 24px;
        font-weight: 700;
    }

    .header__brand span {
        color: #F16D7F;
        font-style: 37px;
    }
}

@media (max-width: 767px) {
    .header {
        display: none;
    }

    .offer {
        display: none;
    }

    .products {
        display: none;
    }
}