<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="./js/counters.js" defer></script>
    <script src="./js/blog-item.js" defer></script>
    <script src="./js/back-lines.js" defer></script>
    <title>Interno</title>
  </head>
  <body>
    <div class="body-content">
      <div class="back-lines">
        <div class="back-line" :style="{'left': `calc((100% - 1200px) / 2 + ${x}px)`}" v-for="(x) in lineList"></div>
      </div>

      <header class="header">
        <div class="header__logo">
          <div class="header__logo_img">
            <img src="./img/Logo.png" alt="" />
          </div>
          <p class="header__caption">Interno</p>
        </div>

        <menu class="menu">
          <a href="#">
            <p>Home</p>
          </a>
          <a href="#">
            <p>Project</p>
          </a>
          <a href="blog.html">
            <p>Blog</p>
          </a>
        </menu>
      </header>
      <main class="main">
        <div class="main__banner">
          <!-- <img src="./img/Photo.png" alt="" /> -->
          <div class="main__banner-intro">
            <h1>Let Your Home Be Unique</h1>
            <p>There are many variations of the passages of lorem Ipsum fromavailable, majority.</p>
            <button class="main__button">
              <p>Get Started</p>
              <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  id="Vector"
                  d="M2 8.43542L15.7232 8.29857M10.6182 1.91138L17.1412 8.43436L10.4868 15.0887"
                  stroke="#CDA274"
                  stroke-width="2"
                  stroke-linecap="square"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="projects">
          <div class="projects__heading">
            <h2>Follow Our Projects</h2>
            <p>
              It is a long established fact that a reader will be distracted by the of readable content of page lookings
              at its layouts points.
            </p>
          </div>

          <div class="projects__list">
            <div class="projects__item">
              <div class="border-top-right">
                <img src="./img/project01.png" alt="1" />
              </div>
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
            <div class="projects__item">
              <div class="border-top-left">
                <img src="./img/project02.png" alt="2" />
              </div>
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
            <div class="projects__item">
              <div class="border-bottom-right">
                <img src="./img/project03.png" alt="3" />
              </div>
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
            <div class="projects__item">
              <div class="border-bottom-left">
                <img src="./img/project04.png" alt="4" />
              </div>
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
          </div>
        </div>
      </main>
      <!--  -->
      <section class="counter">
        <div class="counter__content">
          <div class="counter__item" v-for="c,i in arr">
            <p>{{c.count}}</p>
            <p class="counter__text">{{c.name}}</p>
            <div class="counter__line" v-if="i < arr.length-1"></div>
          </div>
        </div>
      </section>
      <!--  -->
      <section class="blog">
        <div class="projects__heading">
          <h2>Articles & News</h2>
          <p>
            It is a long established fact that a reader will be distracted by the of readable content of a page when
            lookings at its layouts the points of using.
          </p>
        </div>
        <div class="blog__list">
          <div class="blog__item" :class="{'blog__item_selected':blog.isSelected}" v-for="(blog, i) in blogs" :key="i">
            <div class="blog__pic">
              <img :src="blog.img" :alt="blog.alt" />
            </div>
            <p>{{blog.text}}<br />{{blog.text2}}</p>
            <div class="blog__nav">
              <p>26 December,2022</p>
              <a href="blog-details.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="53" viewBox="0 0 52 53" fill="none">
                  <circle cx="26" cy="26.267" r="26" fill="#F4F0EC" />
                  <path
                    d="M23.7714 32.9527L29.7143 26.267L23.7714 19.5813"
                    stroke="#292F36"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!--  -->
    </div>
  </body>
</html>
