.products {
    width: 1140px;

    @media (max-width: 1140px) and (min-width: 768px) {
        & {
            max-width: 768px;
        }
    }

    margin: 96px auto 60px;

    text-align: center;
    font-weight: 400;

    & h1 {
        color: vars.$basic-text-color;
        font-size: 30px;
    }

    & p {
        margin-top: 6px;
        color: #9F9F9F;
        font-size: 14px;
    }

    &__items {
        margin-top: 48px;

        // display: flex;
        // justify-content: space-between;
        // align-items: stretch;   
        @include mixins.d-flex($justifyContent: space-between, $alignItems: stretch);
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: 360px;
        text-align: left;

        position: relative;

        & h4 {
            margin-top: 25px;
            color: #000;
            font-size: 13px;
        }

        & p {
            margin-top: 16px;
            color: #5D5D5D;
            font-size: 14px;
            font-weight: 300;
        }

        & h5 {
            margin-top: 16px;
            color: vars.$selected-text-color;
            font-size: 16px;
            font-weight: 400;
        }

        &_select:hover &_cart {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            @include mixins.d-flex;
        }

        &_cart {
            display: none;
            position: absolute;
            width: 100%;
            height: 420px;
            top: 0;
            background-color: rgba(58, 56, 56, 0.86);
            pointer-events: none;

            &-btn {
                pointer-events: all;
                width: 139px;
                height: 44px;
                border: 1px solid white;

                // display: flex;
                // justify-content: center;
                // align-items: center;
                @include mixins.d-flex;

                gap: 11px;

                & h6 {
                    margin: 0;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        &_background2 {
            background-color: #F7E4E2;
            width: 360px;
            height: 420px;

            // display: flex;
            // justify-content: center;
            // align-items: center;
            @include mixins.d-flex;
        }
    }



    &__btn {
        margin: 48px auto 0;
        width: 212px;

        &_text {
            height: 48px;
            border: 1px #FF6A6A solid;

            // display: flex;
            // justify-content: center;
            // align-items: center;
            @include mixins.d-flex;

            & p {
                margin: 0;
                display: block;
                color: #F26376;
                font-size: 16px;
            }

            &:hover {
                background-color: vars.$selected-text-color;
                transition: background-color .3s;

                & p {
                    color: #FFFFFF;
                    transition: color .3s;
                }
            }
        }
    }
}

.products__item_hidden {
    @media (max-width: vars.$media-width-xl) {
        display: none;
    }
}