body{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 30px;
  padding: 30px;
}

p {
  font-size: 1.2rem;
}
div {
  min-height: 100px;
  padding: 10px;
}
.list-item {
  width: 25%;
  background-color: beige;
  font-size: 1rem;
  cursor: pointer;
}
.list-empty {
  width: 25%;
  background-color: beige;
  font-size: 1rem;
}

ul, li{
  list-style-type: none;
}

.product {
  font-size: 1.5rem;
}

.product>span{
  font-size: 1rem;
  margin-left: 100px;
  color: blue;
}
