@use 'vars';
@use 'mixins';

.product__header {
    height: 148px;
    background-color: #F8F3F4;

    @include mixins.d-flex;
    column-gap: 737px;

    .header__left {
        width: auto;

        p {
            color: vars.$selected-text-color;
            font-size: 24px;
            font-weight: 400;
        }
    }

    .header__right {
        p {
            color: vars.$products-basic-text-color;
            font-size: 14px;
            font-weight: 300;

            span {
                color: vars.$selected-text-color;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

    @media (max-width: vars.$media-width-xl) {
        column-gap: 333px;
    }
}