@use 'mixins';
@use 'vars';

.product__main {

    .product__slides {
        position: relative;
        height: 777px;
        background-color: #f7f7f7;

        @include mixins.d-flex($alignItems: start);

        img {
            margin-top: 11px;

        }

        .product__sliders_buttons {

            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 1600px;

            @include mixins.d-flex($justifyContent: space-between);

            .product__sliders_button {
                width: 47px;
                height: 47px;
                background-color: rgba(42, 42, 42, 0.15);
                cursor: pointer;

                @include mixins.d-flex;

                path {
                    fill: black;

                }

                :hover {
                    path {

                        fill: vars.$selected-text-color;
                    }
                }
            }
        }
    }

    .product__text {
        background-color: #fff;
        max-width: 641px;
        margin: 65px auto 0;
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 65px;


        p {
            margin: 0 auto;
            max-width: 555px;
            text-align: center;
        }

        :nth-child(1) {
            color: vars.$selected-text-color;
            font-size: 14px;
            font-weight: 300;
        }

        .divider {
            background-color: vars.$selected-text-color2;
            width: 63px;
            height: 3px;
            margin: 12px auto 0;
        }

        :nth-child(3) {
            margin-top: 12px;
            color: #4D4D4D;
            font-size: 18px;
            font-weight: 300;
        }

        :nth-child(4) {
            margin-top: 48px;
            color: #5E5E5E;
            font-size: 14px;
            font-weight: 300;
        }

        :nth-child(5) {
            margin-top: 32px;
            color: vars.$selected-text-color2;
            font-size: 24px;
            font-weight: 300;
        }
    }

    .product__properties {
        margin-top: 65px;

        @include mixins.d-flex;
        gap: 23px;

        &_item {
            @include mixins.d-flex;

            cursor: pointer;

            p {
                margin-right: 9px;

                color: #6F6E6E;
                font-size: 14px;
                font-weight: 400;
            }
        }

    }

    .products__btn {
        .products__btn_text {
            @include mixins.d-flex;
        }
    }

}