@use 'reset';
@use 'vars';
@use 'mixins';
@use 'product';
@use 'catalog';
@use 'cart';
@use 'register';
@use 'header';

@import 'common/products';

body {
    background-color: #FFFFFF;
    font-family: Lato;
    line-height: normal;

    @media ((max-width: (vars.$media-width-lg - 1px)) and (min-width: vars.$media-width-md)) {
        & {
            min-width: 768px;
        }
    }

    @media (max-width: (vars.$media-width-md - 1px)) {
        & {
            min-width: 372px;
        }
    }
}

.responsive {
    width: 100%;
    height: auto;
}

.menu {
    position: relative;
    background-color: vars.$basic-text-color;

    &__container {
        max-width: 1140px;
        height: 75px;
        margin: 0 auto;

        // @extend $d-flex(center, center)
        display: flex;
        justify-content: space-around;
        align-items: center;

        >div {
            // display: flex;
            // justify-content: start;
            // align-items: center;
            @include mixins.d-flex($justifyContent: start)
        }
    }

    &__search {
        margin-left: 41px;
    }

    &__check-label {
        cursor: pointer;
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked~&__board {
        display: block;
    }

    &__board {
        display: none;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 200;

        padding: 32px;

        width: 232px;
        background: #FFF;

        h2 {
            color: #000;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        h3 {
            margin-top: 20px;
            color: vars.$selected-text-color;
            font-size: 14px;
            font-weight: 400;
        }

        ul li {
            margin-left: 22px;
            margin-top: 11px;
            color: #6F6E6E;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }

    &__login {
        margin-left: 25px;
        margin-right: 42px;
    }

    &__basket {
        position: relative;
        display: inline-block;
    }

    &__dot {
        position: absolute;
        top: -7px;
        left: 22px;

        height: 19px;
        width: 19px;
        background-color: vars.$selected-text-color;
        border-radius: 50%;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        @include mixins.d-flex;

        color: #FFF;
        font-size: 12px;
        font-weight: 400;

    }
}

.header {
    background-color: #F1E4E6;

    // display: flex;
    // justify-content: space-around;
    // align-items: center;

    @include mixins.d-flex($justifyContent: space-around);

    &__left {
        width: 50%;
        // display: flex;
        // justify-content: right;
        @include mixins.d-flex($justifyContent: right);
    }

    &__brand {
        width: 50%;
        color: vars.$basic-text-color;

        // display: flex;
        @include mixins.d-flex($justifyContent: normal, $alignItems: normal);

        h2 {
            font-size: 48px;
            margin-left: 16px;
            font-weight: 900;
        }

        p {
            font-size: 32px;
            font-weight: 700;
            margin-left: 16px;

            span {
                color: vars.$selected-text-color;
            }
        }
    }

    @media (max-width: (vars.$media-width-lg - 1)) and (min-width: vars.$media-width-md) {

        &__left {
            img {
                width: 386px;
                height: 386px;
            }
        }

        &__brand {
            img {
                width: 12px;
                height: 92px;
            }

            h1 {
                font-size: 44px;
                font-weight: 900;
            }

            p {
                font-size: 24px;
                font-weight: 700;

                span {
                    color: vars.$selected-text-color;
                }
            }
        }
    }
}

.offer {
    max-width: 1140px;
    margin: 65px auto 0;

    &__row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__group {
        position: relative;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        @include mixins.d-flex;

        & img {
            z-index: -1;
            object-fit: cover;
        }
    }

    &__text {
        font-family: Lato;
        text-align: center;

        position: absolute;
        z-index: 100;

        & h2 {
            font-size: 16px;
            font-weight: 400;
            color: #FFF;
        }

        & h3 {
            font-size: 24px;
            font-weight: 700;
            color: vars.$selected-text-color;
        }
    }

    &__curtain {
        position: absolute;
        /* border: 1px black solid; */
        z-index: 50;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .5;
    }

    &__group:hover &__curtain {
        opacity: .7;
    }

    &__row2 {
        margin-top: 30px;
        // display: flex;
        // justify-content: center;
        @include mixins.d-flex;
    }
}



.footer {
    background-color: vars.$basic-footer-color;

    color: #FBFBFB;
    text-align: center;

    &__items {
        max-width: 1140px;
        margin: 0 auto;
        height: 341px;

        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        @include mixins.d-flex($justifyContent: space-between);
        gap: 30px;
    }

    &__imgitem {
        height: 40px;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        @include mixins.d-flex;
    }

    &__item h6 {
        margin-top: 25px;
        font-size: 19.96px;
        font-weight: 400;
    }

    &__item p {
        margin-top: 16px;
        font-size: 13.972px;
        font-weight: 300;
    }

    &__subscribe {
        position: relative;
        height: 448px;
        background-image: url('../img/Layer___41.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__subscribe_transp {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(244, 244, 244, 0.7);

        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include mixins.d-flex;

        gap: 330px;
    }

    &__subscribe_info {
        width: 360px;
    }

    &__subscribe_txt {
        margin-top: 30px;
        width: 360px;
        color: vars.$basic-footer-color;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        z-index: 1;

        & span {
            font-style: italic;
        }
    }

    &__subscribe_right {
        width: 360px;

        color: vars.$basic-footer-color;
        text-align: center;


        & h6 {
            font-size: 24px;
            font-weight: 700;
            line-height: 167.2%;
        }

        & p {
            font-size: 18px;
            font-weight: 400;
            line-height: 167.2%;
        }
    }

    &__subscribe_form {
        margin-top: 32px;
    }

    &__copyright {
        max-width: 1140px;
        margin: 0 auto;
        height: 79px;
        background-color: vars.$basic-footer-color;

        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        @include mixins.d-flex($justifyContent: space-around)
    }

    &__socials {
        display: flex;
        gap: 7.29px;
    }

    &__social {
        width: 32px;
        height: 32px;
        background-color: #fff;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include mixins.d-flex;
    }

    &__social:hover {
        background-color: vars.$selected-text-color;
    }

    &__social:hover path {
        fill: white;
    }
}

.email {
    width: 256px;
    height: 50px;
    border: none;
    border-radius: 25%;
    background-color: #E1E1E1;
    border-radius: 25px 0 0 25px;
    padding-left: 22px;
    padding-right: 22px;

    color: vars.$basic-footer-color;
    font-size: 14px;
    font-weight: 400;

    &:focus {
        outline: none;
    }
}

.submit {
    margin-left: -4px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: vars.$selected-text-color;
    color: white;

    &:hover {
        background-color: #E05C6E;
    }
}

@media (max-width: 1140px) {

    .footer__items {
        height: auto;
        width: 360px;
        display: block;
        padding: .1px 0 64px;

        .footer__item {
            margin-top: 49px;
        }
    }

    .footer__subscribe {
        height: 693px;
    }

    .footer__subscribe_transp {
        display: block;
    }

    .footer__subscribe_info {
        margin: 64px auto 0;
    }

    .footer__subscribe_right {
        margin: 75px auto 0;
    }

    .footer__subscribe_form {
        margin-top: 27px;
    }
}

@media (max-width: 767px) {

    .menu {
        padding: 0 16px;
        justify-content: space-between;

        &__login {
            display: none;
        }

        &__basket {
            display: none;
        }
    }

    .header {
        width: 100%;
        height: 363px;

        &__left {
            display: none;
        }

        &__brand {
            width: 100%;

            justify-content: center;
            align-items: center;

            img {
                width: 12px;
                height: 92px;
            }

            h1 {
                font-size: 38px;
                font-weight: 900;
                margin-left: 15px;
            }

            p {
                font-size: 20px;
                font-weight: 700;
                margin-left: 15px;
            }
        }
    }

    .offer {
        margin: 64px 16px;

        &__row1 {
            width: 100%;
            flex-wrap: wrap;
        }

        &__group {
            width: 100%;
        }
    }

    .products {
        max-width: 372px;

        &__items {
            margin-left: 8px;
            margin-right: 8px;
        }

        &__item {
            width: 100%;
        }
    }

    .footer__subscribe {
        height: 550px;
    }

    .footer__socials {
        margin-left: 10px;
        margin-right: 10px;
    }
}