div {
  border: 1px solid yellowgreen;
}

.counter__line {
  border-width: 4px !important;
  right: -2px !important;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

details > summary {
  list-style: none;
  cursor: pointer;
}

.blog-page {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
.blog-page__banner {
  margin-top: 45px;
  height: 356px;
  background-origin: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/blog_banner01.jpg");
  display: flex;
  justify-content: center;
  align-items: end;
}
.blog-page__banner-intro {
  padding-top: 41px;
  width: 503px;
  height: 170px;
  border-radius: 37px 37px 0px 0px;
  background: #FFF;
  text-align: center;
}
.blog-page__banner h1 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
}
.blog-page__banner p {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.blog-page__main {
  max-width: 1200px;
  margin: 200px auto;
}
.blog-page__post > h2 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}
.blog-page__post-img {
  border-radius: 50px;
  overflow: hidden;
}
.blog-page__post-text {
  width: 489px;
}
.blog-page__post-text > h3 {
  color: #292f36;
  font-family: "Jost";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}
.blog-page__post-text > p {
  margin-top: 22px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.blog-page__post-next {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4d5053;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.blog-page__post-content {
  margin-top: 27px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog-page__articles {
  margin-top: 150px;
}
.blog-page__articles > .blog__list {
  margin-top: 30px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.blog-page__articles > h2 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}
.pagination {
  width: 50%;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pagination__item {
  position: relative;
}
.pagination__item svg {
  position: absolute;
  top: 0;
  z-index: -1;
}
.pagination__number {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292f36;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  text-transform: capitalize;
}

html {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
}

.body-content {
  padding-top: 50px;
  position: relative;
}
.body-content .back-line {
  width: 0;
  height: calc(100% - 134px);
  position: absolute;
  border-left: 1px #E6E6E6 solid;
  z-index: -100;
}

.header {
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.header__logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__caption {
  color: #292f36;
  font-size: 40px;
  line-height: 125%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  color: #292f36;
  text-align: center;
  font-family: "Jost";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
.main__banner {
  padding-left: 52px;
  height: 758px;
  border-radius: 80px;
  background: url("../img/Photo.png"), lightgray 50%/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: center;
}
.main__banner-intro {
  width: 434px;
}
.main__banner h1 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 81.25px */
}
.main__banner p {
  margin-top: 18px;
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.main__button {
  margin-top: 21px;
  padding: 25px 50px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main__button p {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 22.5px */
  letter-spacing: 0.36px;
}

.projects {
  padding-top: 90px;
}
.projects__list {
  margin-top: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 56px;
}
.projects__item h3 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}
.projects__item p {
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.projects__heading {
  margin: 0 auto;
  width: 737px;
  text-align: center;
}
.projects__heading h2 {
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}
.projects__heading p {
  color: #4d5053;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.border-top-right {
  margin-bottom: 24px;
  border-top-right-radius: 80px;
  overflow: hidden;
}

.border-top-left {
  margin-bottom: 24px;
  border-top-left-radius: 80px;
  overflow: hidden;
}

.border-bottom-right {
  margin-bottom: 40px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}

.border-bottom-left {
  margin-bottom: 40px;
  border-bottom-left-radius: 80px;
  overflow: hidden;
}

.counter {
  margin-top: 100px;
  height: 457px;
  background-color: #f4f0ec;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cda274;
  font-family: "DM Serif Display";
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 106.25px */
  letter-spacing: 1.7px;
}
.counter__content {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.counter__text {
  margin-top: 16px;
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.counter__item {
  position: relative;
  width: 300px;
  text-align: center;
}
.counter__line {
  position: absolute;
  right: -1px;
  top: calc(50% - 65px);
  width: 5px;
  height: 130px;
  border-style: none;
  border-right: #cda274 2px solid;
}

.blog {
  max-width: 1200px;
  margin: 100px auto 0;
}
.blog__list {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.blog__pic {
  width: 340px;
  border-radius: 45px 45px 0px 0px;
  background: #eaeaea;
  overflow: hidden;
}
.blog__item {
  position: relative;
  width: 382px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog__item > p {
  width: 305px;
  margin-bottom: 112px;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}
.blog__item_selected {
  background: #f4f0ec;
}
.blog__item_selected circle {
  fill: white;
}
.blog__nav {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 42px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__nav p {
  color: #4d5053;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 134px;
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-self: start;
  gap: 101px;
}
.footer__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 50px */
}
.footer__left {
  width: 393px;
}
.footer__left > p {
  margin-top: 18px;
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.footer__socials {
  margin-top: 31px;
}
.footer__socials > a {
  margin-right: 54px;
}
.footer__caption {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
}
.footer__content {
  margin-top: 33px;
  color: #4d5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 66px */
  letter-spacing: 0.22px;
}
.footer__middle {
  width: 125px;
}
.footer__right {
  width: 258px;
}