@import 'reset';

body {
    background-color: #FFFFFF;
    font-family: Lato;
    line-height: normal;
}

.responsive {
    width: 100%;
    height: auto;
}

.menu {
    position: relative;
    background-color: #222222;

    &__container {
        max-width: 1140px;
        height: 75px;
        margin: 0 auto;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__search {
        margin-left: 41px;
    }

    &__check-label {
        cursor: pointer;
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked~&__board {
        display: block;
    }

    &__board {
        display: none;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 200;

        padding: 32px;

        width: 232px;
        background: #FFF;

        & h2 {
            color: #000;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        & h3 {
            margin-top: 20px;
            color: #F16D7F;
            font-size: 14px;
            font-weight: 400;
        }

        & ul {
            list-style-type: none;
        }

        & li {
            margin-left: 22px;
            margin-top: 11px;
            color: #6F6E6E;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }

    &__login {
        margin-left: 25px;
        margin-right: 42px;
    }

    &__basket {
        position: relative;
        display: inline-block;
    }

    &__dot {
        position: absolute;
        top: -7px;
        left: 22px;

        height: 19px;
        width: 19px;
        background-color: #F16D7F;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #FFF;
        font-size: 12px;
        font-weight: 400;

    }
}

.header {
    background-color: #F1E4E6;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
        width: 50%;
        display: flex;
        justify-content: right;
    }

    &__brand {
        width: 50%;
        color: #222;

        display: flex;

        & h2 {
            font-size: 48px;
            margin-left: 16px;
            font-weight: 900;
        }

        & p {
            color: #222;
            font-size: 32px;
            font-weight: 700;
            margin-left: 16px;

            & span {
                color: #F16D7F;
            }
        }
    }
}

.offer {
    max-width: 1140px;
    margin: 65px auto 0;

    &__row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__group {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            z-index: -1;
            object-fit: cover;
        }
    }

    &__text {
        font-family: Lato;
        text-align: center;

        position: absolute;
        z-index: 100;
    }

    &__text h2 {
        font-size: 16px;
        font-weight: 400;
        color: #FFF;
    }

    &__text h3 {
        font-size: 24px;
        font-weight: 700;
        color: #F16D7F;
    }

    &__curtain {
        position: absolute;
        /* border: 1px black solid; */
        z-index: 50;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .5;
    }

    &__group:hover &__curtain {
        opacity: .7;
    }

    &__row2 {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}

.products {
    width: 1140px;
    margin: 96px auto 60px;

    text-align: center;
    font-weight: 400;

    & h1 {
        color: #222;
        font-size: 30px;
    }

    & p {
        margin-top: 6px;
        color: #9F9F9F;
        font-size: 14px;
    }

    &__items {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: 360px;
        text-align: left;

        position: relative;

        &:hover &__cart {
            display: flex;
        }

        & h4 {
            margin-top: 25px;
            color: #000;
            font-size: 13px;
        }

        & p {
            margin-top: 16px;
            color: #5D5D5D;
            font-size: 14px;
            font-weight: 300;
        }

        & h5 {
            margin-top: 16px;
            color: #F16D7F;
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__cart {
        display: none;
        position: absolute;
        width: 100%;
        height: 420px;
        top: 0;
        background-color: rgba(58, 56, 56, 0.86);

        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    &__cart-btn {
        width: 139px;
        height: 44px;
        border: 1px solid white;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;

        & h6 {
            margin: 0;
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
        }
    }



    &__item_background2 {
        background-color: #F7E4E2;
        width: 360px;
        height: 420px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        margin: 48px auto 0;
        width: 212px;
    }

    &__btn_text {
        height: 48px;
        border: 1px #FF6A6A solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn_text p {
        margin: 0;
        display: block;
        color: #F26376;
        font-size: 16px;
    }

    &__btn_text:hover {
        background-color: #F16D7F;
    }

    &__btn_text:hover p {
        color: #FFFFFF;
    }
}

.footer {
    background-color: #222224;

    color: #FBFBFB;
    text-align: center;

    &__items {
        max-width: 1140px;
        margin: 0 auto;
        height: 341px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__imgitem {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item h6 {
        margin-top: 25px;
        font-size: 19.96px;
        font-weight: 400;
    }

    &__item p {
        margin-top: 16px;
        font-size: 13.972px;
        font-weight: 300;
    }

    &__subscribe {
        position: relative;
        height: 448px;
        background-image: url('../img/Layer___41.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__subscribe_transp {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(244, 244, 244, 0.7);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 330px;
    }

    &__subscribe_info {
        width: 360px;
    }

    &__subscribe_txt {
        margin-top: 30px;
        width: 360px;
        color: #222224;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        z-index: 1;

        & span {
            font-style: italic;
        }
    }

    &__subscribe_right {
        width: 360px;

        color: #222224;
        text-align: center;


        & h6 {
            font-size: 24px;
            font-weight: 700;
            line-height: 167.2%;
        }

        & p {
            font-size: 18px;
            font-weight: 400;
            line-height: 167.2%;
        }
    }

    &__subscribe_form {
        margin-top: 32px;
    }

    &__copyright {
        max-width: 1140px;
        margin: 0 auto;
        height: 79px;
        background-color: #222224;

        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    &__socials {
        display: flex;
        gap: 7.29px;
    }

    &__social {
        width: 32px;
        height: 32px;
        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__social:hover {
        background-color: #F16D7F;
    }

    &__social:hover path {
        fill: white;
    }
}

.email {
    width: 256px;
    height: 49px;
    border: none;
    border-radius: 25%;
    background-color: #E1E1E1;
    border-radius: 25px 0 0 25px;
    padding-left: 22px;
    padding-right: 22px;

    color: #222224;
    font-size: 14px;
    font-weight: 400;

    &:focus {
        outline: none;
    }
}

.submit {
    margin-left: -3px;
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #F16D7F;
    color: white;

    &:hover {
        background-color: #E05C6E;
    }
}

@media (max-width: 1140px) and (min-width: 768px) {
    .products {
        max-width: 768px;
    }
}

@media (max-width: 1140px) {

    .footer__items {
        height: auto;
        width: 360px;
        display: block;
        padding: .1px 0 64px;
    }

    .footer__item {
        margin-top: 49px;
    }

    .footer__subscribe {
        height: 693px;
    }

    .footer__subscribe_transp {
        display: block;
    }

    .footer__subscribe_info {
        margin: 64px auto 0;
    }

    .footer__subscribe_right {
        margin: 75px auto 0;
    }

    .footer__subscribe_form {
        margin-top: 27px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    body {
        min-width: 768px;
    }

    .header__left img {
        width: 386px;
        height: 386px;
    }

    .header__brand img {
        width: 12px;
        height: 92px;
    }

    .header__brand h1 {
        font-size: 44px;
        font-weight: 900;
    }

    .header__brand p {
        font-size: 24px;
        font-weight: 700;
    }

    .header__brand span {
        color: #F16D7F;
        font-size: 37px;
    }
}

@media (max-width: 767px) {
    body {
        min-width: 372px;
    }

    .menu {
        padding: 0 16px;
        justify-content: space-between;
    }

    .menu__login {
        display: none;
    }

    .menu__basket {
        display: none;
    }

    .header {
        width: 100%;
        height: 363px;
    }

    .header__left {
        display: none;
    }

    .header__brand {
        width: 100%;

        justify-content: center;
        align-items: center;
    }

    .header__brand img {
        width: 12px;
        height: 61px;
    }

    .header__brand h1 {
        font-size: 38px;
        font-weight: 900;
        margin-left: 15px;
    }

    .header__brand p {
        font-size: 20px;
        font-weight: 700;
        margin-left: 15px;
    }

    .header__brand span {
        font-size: 37px;
    }

    .offer {
        margin: 64px 16px;
    }

    .offer__row1 {
        width: 100%;
        flex-wrap: wrap;
    }

    .offer__group {
        width: 100%;
    }

    .products {
        max-width: 372px;
    }

    .products__items {
        margin-left: 8px;
        margin-right: 8px;
    }

    .products__item {
        width: 100%;
    }

    .footer__subscribe {
        height: 550px;
    }

    .footer__socials {
        margin-left: 10px;
        margin-right: 10px;

    }


}