.description-block {
    color: #575757;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &>span {
        color: #EF5B70;
    }
}